.popularProdcutsWrapper{
    max-width:400px;
    margin: 0 auto;

    .popularProduct{
        display: flex;
        flex: row;

        .popularProduct-pictureWrapper{
            flex: 2;
            margin-right: 20px;
            img{
                width: 100%;
            }
        }
        .popularProduct-detailsWrapper{
            flex:3;

            .votes{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                img{
                    cursor: pointer;
                }

                .voteCount{
                    font-weight: bold;
                }
            }
            .title{
                span{
                    color: #3885CE;
                }
            }
            .description{
                span{
                    font-size: 15px;
                }
            }
            .submittedAvatar{
                display: flex;
                align-items: center;
                span{
                    color: #C4C2C3;
                    font-size: 13px;
                }
                img{
                    border-radius: 100%;
                    width:20px;
                    height: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
}
